{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nuevo Cliente{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Nuevo Cliente</h3>
                </div>
                <div class="card-body">
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.razon_social|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.nit|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form.direccion|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.no_propuesta|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.codigo|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form.concepto|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.proyecto|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.socio|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.encargado|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.moneda|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.tipo_cambio|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.impuesto|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.total_factura|as_crispy_field }}
                            </div>
                        </div>
                             </div>
                             <div class="row">
                                <div class="col-md-6">
                                    {{ form.fecha_solicitud|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.persona_recibe|as_crispy_field }}
                                </div>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.correo_recibe|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.correo_cliente|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.solicitante|as_crispy_field }}
                            </div>
                        </div>
                       
                        <!-- Campos ocultos de factura -->
                        {{ form.fecha_emision }}
                        {{ form.serie }}
                        {{ form.factura }}
                        {{ form.autorizacion }}
                        {{ form.estado_factura }}
                        {{ form.status }}
                        {{ form.recibo_operado }}
                        
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Guardar Cliente</button>
                                <a href="{% url 'cliente_lista' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}